<% include head.html %>
<link rel="stylesheet" href="/css/com.css">
<div class="block">
  <h1><%=data[1]%></h1>
  <p class="com-title"><%=data[0]%></p>
  <ul class="status">
    <!-- <li>异常</li> -->
    <li class="active">企业状态:<%=data[15]%></li>
    <!-- <li>特殊</li> -->
  </ul>
</div>
<div class="block main" data-zch="<%=data[0]%>" data-name="<%=data[1]%>" style="margin-bottom:70px;">
  <div>
    <div class="com-item jbxx" data-url="/jbxx">
      <p class="title" style="background-image: url(/images/com-title1.png);">基本信息</p>
      <img class="load" src="/images/loading.gif" alt="loading" style="width: 20px;margin: 10px auto;display: block;">
    </div>
  </div>
  <div>
    <div class="com-item" data-url="/spxx">
      <p class="title" style="background-image: url(/images/com-title2.png);">审批信息</p>
      <img class="load" src="/images/loading.gif" alt="loading" style="width: 20px;margin: 10px auto;display: block;">
    </div>
  </div>
  <div>
    <div class="com-item jwxx" data-url="/jwxx">
      <p class="title" style="background-image: url(/images/com-title3.png);">监管信息</p>
      <img class="load" src="/images/loading.gif" alt="loading" style="width: 20px;margin: 10px auto;display: block;">
    </div>
  </div>
  <div>
    <div class="com-item">
      <p class="title" style="background-image: url(/images/com-title4.png);">服务信息</p>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    var name = $(".main").data("name"),
        zch = $(".main").data("zch");
    function getData(url, dom) {
      $.ajax({
        url: url,
        type: 'GET',
        dataType: 'html',
        data: {zch: zch, name:name},
      })
      .done(function(data) {
        dom.replaceWith(data);
        var maxHeight = 0, dom_ = $(".com-item");
        dom_.removeAttr('style');
        dom_.each(function(index, el) {
          var h = $(el).height();
          if (h > maxHeight) maxHeight = h;
        });
        $(".com-item").height(maxHeight);
      });
    }
    $(".com-item").each(function(index, el) {
      if ($(el).data("url")) getData($(el).data("url"), $(el).find('.load'));
    });
    $(".jwxx").delegate('.first-title', 'click', function(event) {
      $(event.target).next().toggleClass('hide');
      $(event.target).toggleClass('noneBorder');
    });
  });
</script>
<% include foot.html %>