<% include head.html %>
<link rel="stylesheet" href="/css/com.css">
<div class="block">
  <h1><%=data[1]%></h1>
  <p class="com-title"><%=data[0]%></p>
  <ul class="status">
    <!-- <li>异常</li> -->
    <li class="active">企业状态:<%=data[15]%></li>
    <!-- <li>特殊</li> -->
  </ul>
</div>
<div class="block main" data-addr="<%=data[8]%>" data-zch="<%=data[0]%>" data-name="<%=data[1]%>" style="margin-bottom:70px;">
  <div>
    <div class="com-item jbxx" data-url="/jbxx">
      <p class="title-able title" data-name="jb" style="background-image: url(/images/com-title1.png);">基本信息</p>
      <img class="load" src="/images/loading.gif" alt="loading" style="width: 20px;margin: 10px auto;display: block;">
    </div>
  </div>
  <div>
    <div class="com-item" data-url="/spxx">
      <p class="title title-able" data-name="sp" style="background-image: url(/images/com-title2.png);">审批信息</p>
      <img class="load" src="/images/loading.gif" alt="loading" style="width: 20px;margin: 10px auto;display: block;">
    </div>
  </div>
  <div>
    <div class="com-item jwxx" data-url="/jwxx">
      <p class="title" style="background-image: url(/images/com-title3.png);">监管信息</p>
      <img class="load" src="/images/loading.gif" alt="loading" style="width: 20px;margin: 10px auto;display: block;">
    </div>
  </div>
  <div>
    <div class="com-item">
      <p class="title" style="background-image: url(/images/com-title4.png);">服务信息</p>
      <div class="content-container">
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .modal {
      z-index: 100;
      position: absolute;
      position: fixed;
      top:0;
      left: 0;
      max-height: 600px;
      overflow: auto;
      right: 0;
      bottom: 0;
      width: 900px;
      height: 500px;
      margin: auto;
      animation-name:modal;
      animation-duration:600ms;
      animation-timing-function: ease-in-out;
       -webkit-transition: .3s ease-out; 
      transition: .3s ease-out;
      border-radius: 8px;
      box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
      background-color: white;
      opacity: 1;
      display: none;
      border: 1px solid #cbcbcb;
  }
  @keyframes modal{

      0% {transform-origin: 50% 50%;transform: rotate3d(0, 1, 0, 720deg) rotateZ(45deg) scale(0);}

      100% {transform: rotate3d(0, 1, 0, 0) rotateZ(0) scale(1);}

  }
  .icon {
      background-position: -37px -76px;
      width: 16px;
      height: 16px;
      background-image: url(../images/icons.png);
  }
  .close {
      right: 10px;
      opacity: .2;
      position: absolute;
      top: 10px;
      cursor: pointer;
      -webkit-transition: opacity .2s ease-out;
      transition: opacity .2s ease-out;
  }
  .close:hover {
      opacity: .3;
  }

</style>
<div class="modal">
    <div class="close icon">
    </div>
    <div></div>
</div>
<script type="text/javascript">
  $(function() {
    $(".modal").delegate('li', 'click', function(event) {
      $(".modal table").removeClass('active');
      $(".modal li").removeClass('active');
      $(event.target).addClass('active');
      $(".modal #table_"+$(event.target).data('id')).addClass('active');
      $(".modal").height($(".close").next().height());
    });
    $('.close').click(function(event) {
      /* Act on the event */
      $('.modal').hide();
    });
    var contentHight = $(window).height()-488;
    var name = $(".main").data("name"),
        addr = $(".main").data("addr"),
        zch = $(".main").data("zch"), isClickP = false;
    $("p.title-able").css('cursor', 'pointer').click(function(event) {
      if (isClickP) return;
      isClickP = true;
      showLoading();
      $.ajax({
        url: '/xx',
        type: 'GET',
        dataType: 'html',
        data: {zch: zch,n:$(event.target).data('name'),name:name},
      })
      .done(function(data) {
        $(".close").next().empty().append(data).closest('.modal').show();
        $(".modal").height($(".close").next().height());
        isClickP = false;
        hideLoading();
      });
      
    });
    function getData(url, dom) {
      $.ajax({
        url: url,
        type: 'GET',
        dataType: 'html',
        data: {zch: zch, name:name},
      })
      .done(function(data) {
        dom.replaceWith(data);
        $(".content-container > div").css('height', contentHight+'px');
      });
    }
    $(".com-item").each(function(index, el) {
      if ($(el).data("url")) getData($(el).data("url"), $(el).find('.load'));
    });
    $(".jwxx").delegate('.first-title', 'click', function(event) {
      $(event.target).next().toggleClass('hide');
      $(event.target).toggleClass('noneBorder');
    });
  });
</script>
<% include foot.html %>