<% include head.html %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <h4>系统选择</h4>
                    <form class="form-inline">
                        <div class="form-group" style="margin-right:20px">
                            <div class="input-group">
                                <div class="input-group-addon">企业</div>
                                <select class="form-control" name="year">
                                    <option value="2">安监</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">系统</div>
                                <select class="form-control" name="year">
                                    <option value="2">安监</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-prepend btn-group">
                                <div class="controls">
                                    <div class="term-btn-group btn-group">
                                      <button value="1" type="button" class="btn btn-primary">查询</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="well well-sm">
                    <h4>总览</h4>
                    <table class="table table-hover table-condensed" id="main-table">
                        <thead>
                            <tr>
                                <th>单位名称</th>
                                <th>应用名称</th>
                                <th>数据集名称</th> 
                                <th>表名称</th>
                                <th>总条数</th>
                                <th>今日更新条数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<% include foot.html %>