<% include head.html%>
<link rel="stylesheet" href="css/coms.css">

<div class="block content">
    <p class="com-title">
        企业专属档案
    </p>
    <div class="search-container">
        <div class="input">
            <label for="">
                <img src="/images/search.png" alt="search">
                <input data-name="ZCH" type="text" placeholder="统一社会信用代码">
            </label>
            <ul class="search-result hide">
            </ul>
        </div>
        <div class="input">
            <label for="">
                <img src="/images/search.png" alt="search">
                <input data-name="MC" type="text" placeholder="企业名称">
            </label>
            <ul class="search-result hide">
            </ul>
        </div>
        <div class="input">
            <label for="">
                <img src="/images/search.png" alt="search">
                <input data-name="DZ" type="text" placeholder="注册地址">
            </label>
            <ul class="search-result hide">
            </ul>
        </div>
        <div class="input">
            <label for="">
                <img src="/images/search.png" alt="search">
                <input data-name="FDDBR" type="text" placeholder="法人">
            </label>
            <ul class="search-result hide">
            </ul>
        </div>
    </div>
</div>
<div class="block content">
    <p class="com-title">
        企业专属档案架构
    </p>
    <div class="const">
        <div class="const-item">
            <img src="/images/coms-item2.png" alt="">
            <div class="const-text"><img src="/images/coms-item.png" alt=".."><p>企业基本信息</p></div>
        </div>
        <div class="const-item">
            <img src="/images/coms-item1.png" alt="">
            <div class="const-text"><img src="/images/coms-item.png" alt=".."><p>申请审批信息</p></div>
        </div>
        <div class="const-item">
            <img src="/images/coms-item4.png" alt="">
            <div class="const-text"><img src="/images/coms-item.png" alt=".."><p>事中事后监管</p></div>
        </div>
        <div class="const-item">
            <img src="/images/coms-item3.png" alt="">
            <div class="const-text"><img src="/images/coms-item.png" alt=".."><p>政策支持</p></div>
        </div>
    </div>
</div>
<div class="block content">
    <p class="com-title">
        广州开发区企业名录
    </p>
    <p id="total" style="text-align: right;position: relative;top: 25px;">总数:</p>
    <div class="table-c" data-name="sf">
        <div class="thead-container">
          <table class="thead" cellspacing="0" cellpadding="0">
            <tr>
                <td style="width:50px">序号</td>
                <td>统一社会信用代码<br>（组织结构代码）</td>
                <td>企业名称</td>
                <td>地址</td>
                <td>
                    <select id="comStatusSelect">
                        <option value="">经营状态</option>
                        <option value="经营正常">经营正常</option>    
                        <option value="注销">注销</option>
                        <option value="吊销">吊销</option>
                    </select>
                </td>
            </tr>
          </table>
        </div>
        
        <div class="table-container">
          <table class="tbody" cellspacing="0" cellpadding="0">
                <%for (tableData in table) {%>
                <tr>
                    <td style="width:50px"><%=Number(tableData)+1%></td>
                <% for (items in tableNames) {
                    var item = table[tableData][items];
                %>
                    <td><%=item%></td>
                <%}%>
                </tr>
                <%}%>
          </table>
          <img src="/images/loading.gif" alt="loading" style="width: 20px;margin: 10px auto;display: block;">
        </div>
    </div>
</div>
<script type="text/javascript">
    (function(window, undefined) {
        jQuery(document).ready(function($) {
            (function bendEvent() {
                var current = 0, n = $(".table-c").data("name"), isGetData = false, ztzt = '';
                var getData = function() {
                    $.ajax({
                        url: '/getComData',
                        type: 'GET',
                        dataType: 'json',
                        data: {n:n, p:current += 1,ztzt:ztzt},
                    })
                    .done(function(res) {
                        var data = "";
                        console.log(res.table);
                        for (var i = 0; i < res.table.length; i++) {
                            data += '<tr><td style="width:50px">' + String((current-1)*10+i+1) +'</td>';
                            for (item in res.table[i]) {
                                data += '<td>' + res.table[i][item] + '</td>'
                            }
                            data += '</tr>';
                        }
                        $('.tbody').append(data);
                        $("#total").empty().append('总数:'+res.total);
                        isGetData = false;
                    });
                }
                getData();
                $("#comStatusSelect").change(function(event) {
                    isGetData = true;
                    ztzt = this.value;
                    current = 0;
                    $('.tbody').empty();
                    console.log(ztzt);
                    getData();
                });
                $("div.table-container").scroll(function(event) {
                    if (!isGetData && this.scrollTop == this.scrollHeight-292) {
                        isGetData = true;
                        getData();
                    }
                });
            })();
            (function searchEvent() {
                $(".search-container").delegate('li', 'click', function(event) {
                    var liDom = $(event.target),
                        zch = liDom.closest('li').data('zch');
                    window.location.href = "/com?ZCH="+zch;
                });
                var timeoutId;
                $(document).click(function(event) {
                    if (!$(event.target).hasClass('search-c')) {
                        $(".search-result").addClass('hide');
                    }
                });
                var showData = function(data, inputDom, value) {
                    $(".search-result").addClass('hide');
                    var ulDom = inputDom.closest('.input').find('ul');
                    var text = "";
                    for (var i = 0; i < data.rows.length; i++) {
                        text += "<li class='search-c' data-ZCH='"+data.rows[i][0]+"'>"+data.rows[i][1].replace(value, "<span>"+value+"</span>")+"</li>"
                    }
                    ulDom.empty().append(text);
                    ulDom.removeClass('hide');
                }
                var getComDataByAttr = function(name, value, inputDom) {
                    if (!value) return;
                    $.ajax({
                        url: '/getComDataByAttr',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            n: name,
                            v:value
                        }
                    })
                    .done(function(res) {
                        showData(res.data, inputDom, value);
                        console.log(res.data);
                    }); 
                };
                $(".search-container input").focus(function(event) {
                    var inputDom = $(event.target),
                        n = inputDom.data("name"),
                        v = inputDom.val();
                    if (v == '') return;
                    clearTimeout(timeoutId);
                    timeoutId = setTimeout(function() {
                        getComDataByAttr(n, v, inputDom);
                    }, 1000);
                });
                $(".search-container").delegate('input', 'input', function(event) {
                    var inputDom = $(event.target),
                        n = inputDom.data("name"),
                        v = inputDom.val();
                    clearTimeout(timeoutId);
                    timeoutId = setTimeout(function() {
                        getComDataByAttr(n, v, inputDom);
                    }, 1000);
                });
            })();
        });
    })(window);
</script>
<% include foot.html%>