<% include head.html%>
<link rel="stylesheet" href="css/coms.css">

<div class="block content">
    <div class="search-container">
        <div class="input">
            <label for="">
                <img src="/images/search.png" alt="search">
                <input data-name="ZCH" type="text" placeholder="统一社会信用代码">
            </label>
            <ul class="search-result hide">
            </ul>
        </div>
        <div class="input">
            <label for="">
                <img src="/images/search.png" alt="search">
                <input data-name="MC" type="text" placeholder="企业名称">
            </label>
            <ul class="search-result hide">
            </ul>
        </div>
        <div class="input">
            <label for="">
                <img src="/images/search.png" alt="search">
                <input data-name="DZ" type="text" placeholder="注册地址">
            </label>
            <ul class="search-result hide">
            </ul>
        </div>
        <div class="input">
            <label for="">
                <img src="/images/search.png" alt="search">
                <input data-name="FDDBR" type="text" placeholder="法人">
            </label>
            <ul class="search-result hide">
            </ul>
        </div>
    </div>
</div>
<div class="block content block2">
    <div class="const">
        <div class="const-item">
            <img src="/images/coms-item2.png" alt="">
            <div class="const-text"><p>企业基本信息</p></div>
        </div>
        <div class="const-item">
            <img src="/images/coms-item1.png" alt="">
            <div class="const-text"><p>申请审批信息</p></div>
        </div>
        <div class="const-item">
            <img src="/images/coms-item4.png" alt="">
            <div class="const-text"><p>事中事后监管</p></div>
        </div>
        <div class="const-item" style="border:none">
            <img src="/images/coms-item3.png" alt="">
            <div class="const-text"><p>政策支持信息</p></div>
        </div>
    </div>
    <div class="block2-text">
        <p>基本信息：包括企业注册登记、股东信息、用水用电和特定属性信息。<br>审批信息：包括企业向我区申请的各类行政许可备案及公共服务事项。</p>
        <p>监管信息：各审批监管部门对该企业的行政检查、行政处罚信息实施共享。<br>服务信息：企业向我区申请的政策兑现、奖励扶持等人财物信息数据共享。</p>
    </div>
</div>
<div style="margin-bottom: 83px;" class="block content">
    <p class="com-title">
        广州开发区企业名录
    </p>
    <p id="total" style="    text-align: center;font-size: 18px;color: #4687ba;margin-top: 10px;">更新日期:<%=(new Date().getFullYear() + '年' + (new Date().getMonth()+1) + '月' + new Date().getDate() + '日')%> 总数:</p>
    <div class="table-c" data-name="sf">
        <div class="thead-container">
          <table class="thead" cellspacing="0" cellpadding="0">
            <tr>
                <td>序号</td>
                <td>统一社会信用代码</td>
                <td>企业名称</td>
                <td>注册地址</td>
                <td>
                    <select id="comStatusSelect">
                        <option value="">经营状态</option>
                        <option value="经营正常">经营正常</option>    
                        <option value="注销">注销</option>
                        <option value="吊销">吊销</option>
                    </select>
                </td>
                <td>监管等级</td>
            </tr>
          </table>
        </div>
        
        <div class="table-container">
          <table class="tbody" cellspacing="0" cellpadding="0">
                <img src="/images/loading.gif" alt="loading" style="width: 20px;margin: 10px auto;display: block;">
                <%for (tableData in table) {%>
                <a href="/com?zch=<%=table[tableData]['ZCH']%>"><tr>
                    <td style="width:50px"><%=Number(tableData)+1%></td>
                <% for (items in tableNames) {
                    var item = table[tableData][items];
                %>
                    <td><%=item%></td>
                <%}%>
                </tr>
                </a>
                <%}%>
          </table>
        </div>
        <div id="pagination"></div>
    </div>
</div>
<script type="text/javascript" src="/js/pagination.min.js"></script>
<script type="text/javascript">
    (function(window, undefined) {
        jQuery(document).ready(function($) {
            (function bendEvent() {
                $(".tbody").delegate('tr', 'click', function(event) {
                    window.open('/com?ZCH=' + $(this).data('zch'));
                });
                var current = 0, n = $(".table-c").data("name"), isGetData = false, ztzt = '';
                var showPagination = function(total) {
                    $("#pagination").pagination({
                        pageCount:total,
                        jump:true,
                        current:current,
                        coping:true,
                        prevContent:' < ',
                        nextContent:' > ',
                        callback:function(pag) {
                            showLoading();
                            getData(pag.getCurrent());
                        }
                    });
                }
                function getData(page) {
                    current = page;
                    $.ajax({
                        url: '/getComData',
                        type: 'GET',
                        dataType: 'json',
                        data: {n:n, p:page,ztzt:ztzt},
                    })
                    .done(function(res) {
                        var data = "";
                        
                        for (var i = 0; i < res.table.length; i++) {
                            data += '<tr data-zch="'+res.table[i]['ZCH']+'"><td>' + String((current-1)*10+i+1) +'</td>';
                            for (var item in res.table[i]) {
                                data += '<td>' + res.table[i][item] + '</td>'
                            }
                            data += '</tr>';
                        }
                        $('.tbody').empty().append(data).parent().find('img').remove();
                        $("#total").empty().append('更新日期:'+ (new Date().getFullYear() + '年' + (new Date().getMonth()+1) + '月' + new Date().getDate() + '日') +' 总数:'+res.total);
                        showPagination(Math.ceil(res.total/10));
                        isGetData = false;
                        hideLoading();
                    });
                }
                getData(1);
                $("#comStatusSelect").change(function(event) {
                    isGetData = true;
                    showLoading();
                    ztzt = this.value;
                    current = 0;
                    $('.tbody').empty();
                    console.log(ztzt);
                    getData(1);
                });
            })();
            (function searchEvent() {
                $(".search-container").delegate('li', 'click', function(event) {
                    var liDom = $(event.target),
                        zch = liDom.closest('li').data('zch');
                    window.open("/com?ZCH="+zch);
                });
                var timeoutId;
                $(document).click(function(event) {
                    if (!$(event.target).hasClass('search-c')) {
                        $(".search-result").addClass('hide');
                    }
                });
                var showData = function(data, inputDom, value) {
                    $(".search-result").addClass('hide');
                    var ulDom = inputDom.closest('.input').find('ul');
                    var text = "";
                    for (var i = 0; i < data.rows.length; i++) {
                        text += "<li class='search-c' data-ZCH='"+data.rows[i][0]+"'>"+data.rows[i][1].replace(value, "<span>"+value+"</span>")+"</li>"
                    }
                    ulDom.empty().append(text);
                    ulDom.removeClass('hide');
                }
                var getComDataByAttr = function(name, value, inputDom) {
                    if (!value) return;
                    $.ajax({
                        url: '/getComDataByAttr',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            n: name,
                            v:value
                        }
                    })
                    .done(function(res) {
                        showData(res.data, inputDom, value);
                        console.log(res.data);
                    }); 
                };
                $(".search-container input").focus(function(event) {
                    var inputDom = $(event.target),
                        n = inputDom.data("name"),
                        v = inputDom.val();
                    if (v == '') return;
                    clearTimeout(timeoutId);
                    timeoutId = setTimeout(function() {
                        getComDataByAttr(n, v, inputDom);
                    }, 1000);
                });
                $(".search-container").delegate('input', 'input', function(event) {
                    var inputDom = $(event.target),
                        n = inputDom.data("name"),
                        v = inputDom.val();
                    clearTimeout(timeoutId);
                    timeoutId = setTimeout(function() {
                        getComDataByAttr(n, v, inputDom);
                    }, 1000);
                });
            })();
        });
    })(window);
</script>
<% include foot.html%>