<% include head.html %>
<link rel="stylesheet" href="css/data.css">
<div class="main content">
    <img src="images/data.png" alt="data">
    <p class="title">大数据共享</p>
    <ul class="main-list">
        <a href="">
            <li class="main-list1">税费</li>
        </a>
        <a href="">
            <li class="main-list2">工商</li>
        </a>
        <a href="">
            <li class="main-list3">审批</li>
        </a>
        <a href="">
            <li class="main-list4">监管</li>
        </a>
        <a href="">
            <li class="main-list5">水费</li>
        </a>
        <a href="">
            <li class="main-list6">电费</li>
        </a>
    </ul>
</div>
<% include foot.html %>