<footer>
    <div class="container footer">
        <p>广州开发区机构编制委员会办公室（审改办）  办公地址：广州市黄浦区香雪三路1号  版权所有@2016 <br>广州开发区信息化办公室维护  粤ICP备 06123456</p>
    </div>
</footer>
</div>

<script type="text/javascript">
    var scale_ = $("body").height() > 933?$("body").height()/933:1;
    if (scale_ == 1) {
        $("body").css({
            height:"auto"
        });
        $("#total_page").css('position', 'relative');
    }
    if (['/', '/data', '/system'].indexOf(window.location.pathname) != -1) {
        $("#total_page").css("transform", "scale("+scale_+")");
        $(document).ready(function() {
            $(window).resize(function(event) {
                /* Act on the event */
                scale_ = $("body").height() > 933?$("body").height()/933:1;
                $("#total_page").css("transform", "scale("+scale_+")");
            });
        });
    } else {
        $("#total_page")[0].id = '';
    }
</script>

</body>
</html>