<footer>
    <div class="container footer">
        <p>广州开发区机构编制委员会办公室（审改办）  办公地址：广州市黄浦区香雪三路1号<br>  版权所有@2016 广州开发区信息化办公室维护 粤ICP备 06123456</p>
    </div>
</footer>
</div>

<script type="text/javascript">
    if (['/', '/data', '/system'].indexOf(window.location.pathname) != -1) {
        $("#total_page").css("transform", "scale("+$("body").height()/980+")");
        $(document).ready(function() {
            $(window).resize(function(event) {
                /* Act on the event */
                $("#total_page").css("transform", "scale("+$("body").height()/980+")");
            });
        });
    } else {
        $("#total_page")[0].id = '';
    }
</script>

</body>
</html>