<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="css/common.css">
    <script src="js/jquery.min.js"></script>    
    <link rel="stylesheet" href="css/jquery.jgrowl.min.css">
    <script src="js/jquery.jgrowl.min.js"></script>
    <script src="js/loading.js"></script>
</head>
<body>
    <header>
        <div class="logo content">
            <img src="images/2015_logo.png" alt="logo">
            <div class="gohome">
                <a href="/">
                    <img src="images/home.png" alt="home">
                    返回主界面
                </a>
            </div>
        </div>
    </header>
    <ul class="content nav">
        <a href="/"><li style="margin-left: 40px;">主界面</li></a>
        <li>|</li>
        <a href="/data"><li>大数据共享</li></a>
        <li>|</li>
        <a href="/com"><li>一企一档</li></a>
        <li>|</li>
        <a href="/other?n=1"><li>环保监管</li></a>
        <li>|</li>
        <a href="/other?n=2"><li>审批系统</li></a>
        <li>|</li>
        <a href="/logout"><li>登出</li></a>
    </ul>
    <div class="modal-fog"></div>
    <div class="loading"><img src="images/loading.gif"/></div>