<% include head.html %>
<link rel="stylesheet" href="css/home.css">
<div class="content main">
    <img style="margin-left: -5px;" src="images/pic.png" alt="png">
    <div class="left">
        
        <a href="http://172.23.8.86:8080/login.jsp"><p class="left-title left-title1">行政效能电子监察系统</p></a>
        <p class="left-title left-title2">大数据管理中心</p>
        <p class="left-title left-title3">数据系统</p>
        <p class="left-title left-title4">主题应用</p>
        <ul class="left-text left-text1">
            <a href="http://sxgl.gzonline.gov.cn/main/web/browser">
                <li>政务服务事项管理系统</li>
            </a>
            <a  target="_Blank" href="http://172.23.8.31/EnterpriseMgr/Login/Login.jsp">
                <li>商事主体管理信息平台</li>
            </a>
            <a  target="_Blank" href="/other?n=2">
                <li>行政审批管理信息系统</li>
            </a>
        </ul>
        <ul class="left-text left-text2">
                <a href="javascript:alerts('功能正在开发中.....')"><li>监管分工指引清单</li></a>
                <a href="http://jk.gzcetc.cn/"><li>建筑工程预警系统</li></a>
                <a href="javascript:alerts('功能正在开发中.....')"><li>事中事后监管系统</li></a>
        </ul>
        <ul class="left-text left-text3">
                <a href="javascript:alerts('功能正在开发中')"><li>企业服务绿色清单</li></a>
                <a href="http://zcdx.gdd.gov.cn/"><li>政策兑现管理系统</li></a>
                <a href="http://www.getddrc.com/hr/login"><li>企业人才管理系统</li></a>
        </ul>
        <ul class="left-text left-text4">
                <a href="http://www.gzaic.gov.cn/gzaic/App/Index.html"><li>企业注册金信管理系统</li></a>
            <a  target="_Blank" href="http://pt.gzfda.gov.cn">
                <li>食品生产许可管理系统</li>
            </a>
            <a  target="_Blank" href="http://172.23.8.39:8080/gzwj/desktop/myDesktop.html">
                <li>公共卫生许可审批系统</li>
            </a>
                <a href="http://www.upo.gov.cn/pages/zt/ghl/dzbp/"><li>规划建设审批信息系统</li></a>
        </ul>
        <ul class="left-text left-text5">
            <a  target="_Blank" href="/other?n=1">
                <li>环境监察综合系统</li>
            </a>
            <a  target="_Blank" href="/other?n=3">
                <li>安全生产监管系统</li>
            </a>
            <a  target="_Blank" href="/other?n=4">
                <li>劳动保障监管系统</li>
            </a>
            <a  target="_Blank" href="/other?n=6">
                <li>市场综合监管系统</li>
            </a>
        </ul>
        <ul class="left-text left-text6">
                <a href="http://172.23.4.57/cj/"><li>企业筹建管理系统</li></a>
                <a href="http://172.23.2.43:8080/ipm/toLogin.do"><li>区智慧招商云平台</li></a>
                <a href="http://blxw.gzcc.gov.cn:8080/"><li>企业诚信评价系统</li></a>
                <a href="javascript:alerts('功能正在开发中')"><li>审批中介管理系统</li></a>
        </ul>
        <div class="left-item" style="padding-right: 71px;">
            <div class="circle-container" style="left:5px;">
                <img src="/images/home-cw.png" class="circle" alt="cw">
            </div>
            <a  target="_Blank" href="http://qzqd.gdd.gov.cn/index/qz/index.jsp">
                <p>权责<br>清单</p>
            </a>
        </div>
        <div class="left-item" style="width: 185px;padding-right: 85px;">
            <div class="circle-container">
                <img src="/images/home-cw.png" class="circle" alt="cw">
            </div>
            <a href="http://172.23.8.24/ApproveWeb/Login/enter_nokey.jsp">
                <p>行政<br>审批</p>
            </a>
        </div>
        <div class="left-item">
            <div class="circle-container">
                <img src="/images/home-cw.png" class="circle" alt="cw">
            </div>
            <a href="javascript:alerts('功能正在开发中.....')">
                <p>监督<br>管理</p>
            </a>
        </div>
        <div class="left-item">
            <div class="circle-container">
                <img src="/images/home-cw.png" class="circle" alt="cw">
            </div>
            <a href="http://zcdx.gdd.gov.cn/">
                <p>政府<br>服务</p>
            </a>
        </div>
    </div>
    <div class="right">
        <div class="right-item">
            <img class="circle" src="/images/c1.png" alt="c1">
            <a href="/coms"><p>企业<br>专属档案</p></a>
        </div>
        <div class="right-item">
        <img class="circle" src="/images/c4.png" alt="c1">
            <a href="http://202.104.110.165/df/"><p>建设<br>项目档案</p></a>
        </div>
        <div class="right-item">
        <img class="circle" src="/images/c2.png" alt="c1">
            <a href="/data"><p>数据<br>共享中心</p></a>
        </div>
        <div class="right-item">
        <img class="circle" src="/images/c5.png" alt="c1">
            <a  target="_Blank" href="http://wsbs.gdd.gov.cn/lg/index.jsp"><p>网上<br>办事大厅</p></a>
        </div>
        <div class="right-item">
        <img class="circle" src="/images/c3.png" alt="c1">
            <a  target="_Blank" href="http://cri.gz.gov.cn/"><p>企业<br>信用公示</p></a>
        </div>
        <div class="right-item">
        <img class="circle" src="/images/c6.png" alt="c1">
            <a href="javascript:alerts('功能正在开发中.....')"><p>数据<br>分析应用</p></a>
        </div>
        <div class="right-item">
        <img class="circle" src="/images/c7.png" alt="c1">
            <a href="http://172.23.2.45:3001/qy"><p>政企<br>互通平台</p></a>
        </div>
        <div class="right-item">
        <img class="circle" src="/images/c8.png" alt="c1">
            <a href="javascript:alerts('功能正在开发中.....')"><p>网上<br>中介超市</p></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    function alerts(str) {
        $.jGrowl(str, {
            life: 3000
        });
    }
</script>
<% include foot.html %>