<% include head.html %>
<link rel="stylesheet" href="css/home.css">
<div class="content main">
    <div class="left">
        <img src="images/pic.png" alt="png">
    </div>
    <div class="right">
        <img src="images/pic2.png" alt="png">
        <div class="right-item">
            <a href="/"><p>企业<br>专属档案</p></a>
        </div>
        <div class="right-item">
            <a href="/"><p>建设<br>项目档案</p></a>
        </div>
        <div class="right-item">
            <a href="/"><p>大数据<br>共享</p></a>
        </div>
        <div class="right-item">
            <a href="/"><p>网上<br>办事大厅</p></a>
        </div>
        <div class="right-item">
            <a href="/"><p>企业信用<br>公示</p></a>
        </div>
        <div class="right-item">
            <a href="/"><p>大数据<br>分析应用</p></a>
        </div>
        <div class="right-item">
            <a href="/"><p>政企互<br>通平台</p></a>
        </div>
    </div>
</div>
<% include foot.html %>