<% include head.html %>
<link rel="stylesheet" href="css/home.css">
<div class="content main">
    <div class="left">
        <img src="images/pic.png" alt="png">
        <p class="left-title left-title1">行政效能电子监察系统</p>
        <p class="left-title left-title2">大数据管理中心</p>
        <ul class="left-text left-text1">
                <li>政务服务事项管理系统</li>
            <a  target="_Blank" href="http://172.23.8.31/EnterpriseMgr/Login/Login.jsp">
                <li>商事主体管理信息平台</li>
            </a>
            <a  target="_Blank" href="/other?n=2">
                <li>行政审批管理信息系统</li>
            </a>
        </ul>
        <ul class="left-text left-text2">
                <li>监管分工指引清单</li>
                <li>事中事后监管系统</li>
        </ul>
        <ul class="left-text left-text3">
                <li>政策兑现管理系统</li>
                <li>企业服务绿色清单</li>
        </ul>
        <ul class="left-text left-text4">
                <li>企业注册金信管理系统</li>
            <a  target="_Blank" href="http://pt.gzfda.gov.cn">
                <li>食品生产许可管理系统</li>
            </a>
            <a  target="_Blank" href="http://172.23.8.39:8080/gzwj/desktop/myDesktop.html">
                <li>公共卫生许可审批系统</li>
            </a>
                <li>规划建设审批信息系统</li>
        </ul>
        <ul class="left-text left-text5">
            <a  target="_Blank" href="/other?n=1">
                <li>环境监察综合系统</li>
            </a>
            <a  target="_Blank" href="/other?n=3">
                <li>安全生产监管系统</li>
            </a>
            <a  target="_Blank" href="/other?n=4">
                <li>劳动保障监管系统</li>
            </a>
            <a  target="_Blank" href="http://172.16.55.8:8000/portal/home/index.do">
                <li>市场综合监管系统</li>
            </a>
        </ul>
        <ul class="left-text left-text6">
                <li>审批中介网上超市</li>
        </ul>
        <div class="left-item">
            <a  target="_Blank" href="/other?n=5">
                <p>权责<br>清单</p>
            </a>
        </div>
        <div class="left-item">
            <p>行政<br>审批</p>
        </div>
        <div class="left-item">
                <p>行政<br>监管</p>
        </div>
        <div class="left-item">
                <p>政府<br>服务</p>
        </div>
    </div>
    <div class="right">
        <img src="images/pic2.png" alt="png">
        <div class="right-item">
            <a href="/coms"><p>企业<br>专属档案</p></a>
        </div>
        <div class="right-item">
            <p>建设<br>项目档案</p>
        </div>
        <div class="right-item">
            <a href="/data"><p>大数据<br>共享</p></a>
        </div>
        <div class="right-item">
            <a  target="_Blank" href="http://wsbs.gdd.gov.cn/lg/index.jsp"><p>网上<br>办事大厅</p></a>
        </div>
        <div class="right-item">
            <a  target="_Blank" href="http://cri.gz.gov.cn/"><p>企业信用<br>公示</p></a>
        </div>
        <div class="right-item">
            <p>大数据<br>分析应用</p>
        </div>
        <div class="right-item">
            <p>政企互<br>通平台</p>
        </div>
        <div class="right-item">
            <p>网上<br>中介超市</p>
        </div>
    </div>
</div>
<% include foot.html %>