<% include head.html %>
<script src="js/jquery.jOrgChart.js"></script>
<script>
    // jQuery(document).ready(function() {
    //     $("#org").jOrgChart({
    //         chartElement : '#chart',
    //         dragAndDrop  : false
    //     });
    // });
</script>
<style>
    div.jOrgChart .node {
        background-color: #337ab7;
        display: inline-block;
        overflow: hidden;
        padding: 10px 30px;
        z-index: 10;
        color: white;
        cursor: pointer;
        text-align: center;
    }
</style>
<link rel="stylesheet" href="css/jquery.jOrgChart.css"/>
        <div class="container">
            <div class="row">
                
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p class="panel-title default" id="table-title">
                                总览
                            </p>
                        </div>
                        <div class=" panel-body table-container">
                            <div class="col-md-12">
                            <div class="orgChart col-md-offset-2">
                                <div class="jOrgChart row">
                                    <div class="col-md-6 node">
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                    权责清单管理系统</div>
                                </div>
                                <div class="jOrgChart row">
                                    <div class="col-md-2 node" style="margin-top: 77px;">
                                    <span class="glyphicon glyphicon-indent-right"></span>
                                    网办大厅</div>
                                    <div class="col-md-2 col-md-offset-2 node" style="margin-top: 77px;">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        审批系统
                                    </div>
                                    <div class="col-md-2 col-md-offset-2">
                                        <div class="node" style="width:100%;">
                                             <span class="glyphicon glyphicon-lock"></span>
                                             安监
                                        </div>
                                        <div class="node"  style="width:100%;">
                                             <span class="glyphicon glyphicon-tasks"></span>
                                            劳监
                                        </div>
                                        <div class="node" style="width:100%;">
                                             <span class="glyphicon glyphicon-globe"></span>
                                             环保
                                        </div>
                                        <div class="node" style="width:100%;">
                                             <span class="glyphicon glyphicon-cutlery"></span>
                                             食药
                                        </div>
                                    </div>
                                </div>
                                <div class="jOrgChart row" style="margin-top: 50px;">
                                    <a href="/system"><div class="col-md-6 node">
                                    <span class="glyphicon glyphicon-th-large"></span>
                                    广州开发区审批监管大数据平台 大数据共享</div></a>
                                </div>
                                <div class="jOrgChart row" style="margin-top: 50px;">
                                    <a href="/com"><div class="col-md-6 node">
                                    <span class="glyphicon glyphicon-th"></span>
                                    广州开发区审批监管大数据平台 一企一档</div></a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
<% include foot.html %>