<% include head.html %>
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <p class="panel-title default" id="table-title">
                                总览
                            </p>
                        </div>
                        <div class=" panel-body table-container" id="main-table">
                            <div class="table-container">
                                 <table class="table table-hover" id="main-table">
                                     <thead>
                                         <tr>
                                             <th>单位名称</th>
                                             <th>应用名称</th>
                                             <th>数据集名称</th> 
                                             <th>表名称</th>
                                             <th>总条数</th>
                                             <th>今日更新条数</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         <tr>
                                             <td>2</td>
                                             <td>2</td>
                                             <td>3</td>
                                             <td>4</td>
                                             <td>5</td>
                                             <td>6</td>
                                         </tr>
                                         <tr>
                                             <td>1</td>
                                             <td>2</td>
                                             <td>3</td>
                                             <td>4</td>
                                             <td>5</td>
                                             <td>6</td>
                                         </tr>
                                         <tr>
                                             <td>1</td>
                                             <td>2</td>
                                             <td>3</td>
                                             <td>4</td>
                                             <td>5</td>
                                             <td>6</td>
                                         </tr>
                                         <tr>
                                             <td>1</td>
                                             <td>2</td>
                                             <td>3</td>
                                             <td>4</td>
                                             <td>5</td>
                                             <td>6</td>
                                         </tr>
                                     </tbody>
                                 </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include foot.html %>