<% include head.html %>
<%function getDate(d) {
  var dd = new Date(d);
  return dd.getFullYear()+"年"+(dd.getMonth()+1)+"月"+dd.getDate()+"日"
}%>
<link rel="stylesheet" href="css/systems.css">
<div class="content main">
  <div class="thead-container">
    <table class="thead" cellspacing="0" cellpadding="0">
      <tr>
      <% for (items in tableNames) {
          var item = tableNames[items];
      %>
              <td><%=item%></td>
      <%}%>
      </tr>
    </table>
  </div>
  
  <div class="table-container">
    <table class="tbody" cellspacing="0" cellpadding="0">
          <%for (tableData in table) {var flag = 0;%>
          <tr>
          
          <% for (items in tableNames) {
              var item = table[tableData][items];
              flag++;
              if (flag == 1) item = getDate(item);
          %>
              <td><%=item%></td>
          <%}%>
          </tr>
          <%}%>
    </table>
  </div>
</div>
<% include foot.html %>