<%function getDate(d) {
if (d == '') return '';
  var dd = new Date(d);
  return dd.getFullYear()+"年"+(dd.getMonth()+1)+"月"+dd.getDate()+"日"
}
var name = '';
%>
<div class="content-container">
<div> 
<%
    names = [
            '区建设和环境保护局',
            '区安全生产监督管理局',
            '区市场和质量监督管理局',
            '区劳动和社会保障局'];
    name = names[0];
    results = {};
    var index = 0, point = 0;
    for (index = 0; index < 4; index++) {
        results[names[index]] = [];
        while (point < data.length && data[point][2] == names[index]) {
            results[names[index]].push(data[point]);
            point++;
        }
    }
%>
<%
    point = 0;
    for (index = 0; index < 4; index++) {
%>
        <div class="content-first">
            <p class="first-title <%=results[names[index]].length?'':'noItem'%>"><span><%=names[index]%></span></p>
        <div>
<%
        while (point < data.length && data[point][2] == names[index]) {
%>
            <div class="content-second">
                <a href="/item?id=<%=data[point][0]%>&t=<%=data[point][4]%>&type=<%=data[point][6]%>&n=<%=data[point][5]%>">
                    <p><%=getDate(data[point][1])%><%=data[point][2]%>进行<%=data[point][3]%></p>
                </a>
            </div>
<%
            point++;
        }
%>
            </div>
        </div>
<%
    }
%>


</div>
</div>