<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="css/login.css">
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/jquery.jgrowl.min.css">
    <script src="js/jquery.jgrowl.min.js"></script>
    <script src="js/loading.js"></script>
</head>
<body>
 <script>
     var error = "<%=error%>";
     $(document).ready(function() {
         if (error != '') {
            $.jGrowl(error, {
                life: 3000
            });
         }
     });
 </script>
 <style>
     .modal-fog {
        visibility: visible;
        opacity:0.3;
     }
 </style>
    <div id="main">
        <div class="logo">
            <img src="images/2015_logo.png" alt="">
        </div>
        <div class="login">
            <div class="left">
                <h3>登录系统 | Login System</h3>
                
            </div>
        </div>
    </div>
<% include foot.html%>