<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>大数据平台企业端</title>
    <link rel="stylesheet" type="text/css" href="/css/qy-home.css"/>
  </head>
  <body>
    <div class="content">
      <div class="uppest-bar">
        <div class="uppest-bar-center">
          <p class="time">今天是:2016年8月25日 星期四</p>
          <p class="govern-entrance"><a href="/">平台政府管理端快捷入口</a></p>
          <p class="welcome-words">欢迎安利（中国）日用品有限公司</p>
        </div>
      </div>
      <div class="flower"></div>
      <div class="big-title-bg"></div>
      <div class="title"></div>
      <div class="upper-bar">
        <div class="upper-bar-center">
          <ul>
            <a href="/qy"><li class="button-vivid"><div class="home-logo"></div><div class="home-logo-words">首页</div></li></a>
            <li>服务清单</li>
            <li>监管清单</li>
          </ul>
          <div class="search">
            <input placeholder="请输入搜索内容"/>
            <div id="search-button"></div>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="banshi-bar">
          <div class="banshi-bar-green"></div>
          <p>办事平台</p>
        </div>
        <div class="banshi-container">
          <div class="banshi-title">
            <div class="banshi-icon"></div>
            <div class="banshi-text">网上办事大厅</div>
          </div>
          <div class="six-bubbles">
            <ul id="line1">
              <li>企业注册<br/>信息申报</li>
              <li>规划业务<br/>审批系统</li>
              <li>海关通关<br/>审批系统</li>
            </ul>
            <ul id="line2">
              <li>食品生产<br/>许可系统</li>
              <li>药品生产<br/>许可系统</li>
              <li>质量许可<br/>申报系统</li>
            </ul>
          </div>
          
          <div class="login">
            <div class="login-title"><p>区属权限系统登录</p></div>
            <div class="form">
              <div><p>选择系统:</p> 
              <select name="" id="" style="width: 165px;margin-left: 10px;height: 24px;line-height: 24px;font-size: 22px;">
                <option value="">劳动监管</option>
                <option value="">安全监管</option>
              </select></div>
              <div><p>用&nbsp;&nbsp;户&nbsp;&nbsp;名:</p> <input/></div>
              <div><p>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:</p> <input/></div>
              <div class="identify-code"><p>验&nbsp;&nbsp;证&nbsp;&nbsp;码:</p> <input/> <div id="yanzhengma"></div></div>
              <div>
                <button class="login-button">登录</button>
                <button class="reset-button">重置</button>
              </div>
              <div class="iforget"><p>我忘记了密码？</p></div>
            </div>
          </div>
        </div>
        <div class="dingxiang-xinxi">
          <div class="dingxiang-container">
            <div class="dingxiang-bar">
              <div class="dingxiang-bar-green"></div>
              <p>定向通知</p>
            </div>
            <div class="informs">
              <div class="jiantou"></div>
              <div class="inform-bar">
                <div class="center-name">经贸局发布通知</div>
                <div class="infor-details">政府投资项目:请选择&nbsp;"政府项目申报"&nbsp;请选择&nbsp;"政府项目......</div>
              </div>
            </div>
            <div class="informs">
              <div class="jiantou"></div>
              <div class="inform-bar">
                <div class="center-name">发改局发布通知</div>
                <div class="infor-details">政府投资项目:请选择&nbsp;"政府项目申报"&nbsp;请选择&nbsp;"政府项目......</div>
              </div>
            </div>
            <div class="informs">
              <div class="jiantou"></div>
              <div class="inform-bar">
                <div class="center-name">安监局发布通知</div>
                <div class="infor-details">政府投资项目:请选择&nbsp;"政府项目申报"&nbsp;请选择&nbsp;"政府项目......</div>
              </div>
            </div>
            <div class="informs">
              <div class="jiantou"></div>
              <div class="inform-bar">
                <div class="center-name">劳动局发布通知</div>
                <div class="infor-details">政府投资项目:请选择&nbsp;"政府项目申报"&nbsp;请选择&nbsp;"政府项目......</div>
              </div>
            </div>
            <div class="informs">
              <div class="jiantou"></div>
              <div class="inform-bar">
                <div class="center-name">环保局发布通知</div>
                <div class="infor-details">政府投资项目:请选择&nbsp;"政府项目申报"&nbsp;请选择&nbsp;"政府项目......</div>
              </div>
            </div>
          </div>
          <div class="xinxi-container">
            <div class="dingxiang-bar">
              <div class="dingxiang-bar-green"></div>
              <p>信息提示</p>
            </div>
            <div class="hints">
              <ul>
                <li>*食品生产许可将于20到期限，请提前办理换</li>
                <li>*需要申报2016年第一季度企业产值情况....</li>
                <li>*需及时向安监部门申报危化品存储信息。</li>
                <li>*食品生产许可将于20到期限，请提前办理换</li>
                <li>*需要申报2016年第一季度企业产值情况....</li>
                <li>*需及时向安监部门申报危化品存储信息。</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="zhuanshu-container">
          <div class="zhuanshu-bar"><div class="dingxiang-bar-green"></div>
          <p>专属信息</p>
        </div>
        <div class="special-infos">
          <div class="each-special">
            <div class="basicInfo-icon"></div>
            <div class="spec-info-title">企业基本信息</div>
            <div class="spec-info-text">企业的注册、登记、变更</div>
          </div>
          <div class="each-special">
            <div class="ownInfo-icon"></div>
            <div class="spec-info-title">我申请的审批信息</div>
            <div class="spec-info-text">企业向各个职能部门办理事项汇总，记录时间结果等</div>
          </div>
          <div class="each-special">
            <div class="manageInfo-icon"></div>
            <div class="spec-info-title">各职能局监管信息</div>
            <div class="spec-info-text">各监管部门对企业的行政检查、行政处罚信息，记录检查时间、监察人、检查结果</div>
          </div>
          <div class="each-special">
            <div class="ownSupport-icon"></div>
            <div class="spec-info-title">我申请的政策扶持</div>
            <div class="spec-info-text">我区给予该企业各类政策扶持，包括资金场地人才技术等扶持等记录</div>
          </div>
        </div>
      </div>
      <div class="other-functions">
        <div class="functions-container">
          <div class="each-other-function">
            <div class="function-title">
              <div class="function1-icon"></div>
              <div class="function-title-text">上报数据</div>
            </div>
            <div class="content-container function-contain">
              <div>
                <div class="content-first noneBorder">
                  <p class="first-title noneBorder"><span>上报企业共性数据</span></p>
                </div>
                <div class="content-first noneBorder">
                  <p class="first-title noneBorder"><span>上报经济口数据</span></p>
                </div>
                <div class="content-first noneBorder">
                  <p class="first-title noneBorder"><span>上报安监口数据</span></p>
                </div>
                <div class="content-first noneBorder">
                  <p class="first-title noneBorder"><span>上报发改统计数据</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="each-other-function">
            <div class="function-title">
              <div class="function2-icon"></div>
              <div class="function-title-text">我的电子执照</div>
            </div>
            
            <div class="content-container function-contain">
              <div>
                <div class="content-first noneBorder">
                  <p class="first-title noneBorder"><span>我的电子执照</span></p>
                </div>
                <div class="content-first noneBorder">
                  <p class="first-title noneBorder"><span>上传企业电子执照</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="each-other-function">
            <div class="function-title">
              <div class="function3-icon"></div>
              <div class="function-title-text">政策法规</div>
            </div>
            
            <div class="content-container function-contain">
              <div>
                <div class="content-first noneBorder">
                  <p class="first-title noneBorder"><span>行业标准</span></p>
                </div>
                <div class="content-first noneBorder">
                  <p class="first-title noneBorder"><span>MSDS</span></p>
                </div>
                <div class="content-first noneBorder">
                  <p class="first-title noneBorder"><span>违法案例</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="each-other-function">
            <div class="function-title">
              <div class="function4-icon"></div>
              <div class="function-title-text">企业有话说</div>
            </div>
            
            <div class="content-container function-contain">
              <div>
                <div class="content-first noneBorder">
                  <p class="first-title noneBorder"><span>我要提建议</span></p>
                </div>
                <div class="content-first noneBorder">
                  <p class="first-title noneBorder"><span>我要投诉举报</span></p>
                </div>
              </div>
            </div>
          </div>


        </div>


      </div>
      <footer>
          <p>版权所有：广州开发区推进政府职能转变和深化行政审批制度改革试点工作领导小组办公室<br>技术支持：广州开发区大数据管理中心   领航动力信息系统有限公司</p>
      </footer>
    </div>
  </div>
  <style>
  .content-first:before,.first-title:before {
  content: ' ';
  clear: both;
  border-bottom: 1px #0c8ac2 solid;
  border-left: 1px #0c8ac2 solid;
  display: block;
  float: left;
  width: 25px;
  position: absolute;
  height: 21px;
  top: -15px;
  left: -1px;
  }
  .content-first:last-child {
  border-left: 1px solid rgba(0,0,0,0);
  }
  .first-title:before {
  left: -14px;
  border-bottom: none;
  top: 10px;
  height: 40px;
  }
  .first-title {
  position: relative;
  left: 14px;
  cursor: pointer;
  height: 40px;
  width: 182px;
  }
  .content-first {
  position: relative;
  border-left: 1px #0c8ac2 solid;
  width: 214px;
  padding-left: 12px;
  margin: 0 auto;
  }
  .content-first p {
  font-size: 14px;
  }
  .content-first a {
  font-size: 14px;
  color: black;
  }
  p.noneBorder:before,p.noItem:before {
  border:none;
  }
  footer {
  height: 70px;
  background: #4e4d4a;
  width: 100%;
  }
  footer p {
  padding: 17px 0px;
  margin: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 12px;
  line-height: 18px;
  }
  </style>
</body>
</html>