<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>大数据平台企业端</title>
    <link rel="stylesheet" href="/css/qy-login.css">
</head>
<body>
    <div class="block1-bg">
        <div class="block block1">
            <div class="left">
                <h1>我想知道政府<br>有哪些权利和责任</h1>
                <div class="block1-item">
                    <h2>[ 权责清单 ]</h2>
                    <img src="/images/qy-button1.png" alt="png">
                </div>
            </div>
            <div class="right">
                <h1>我要办事</h1>
                <div class="block1-item">
                    <h2 style="margin-bottom: 33px;">[ 网办大厅 ]</h2>
                    <img src="/images/qy-button2.png" alt="png">
                </div>
            </div>
        </div>
    </div>
    <div class="block block2">
        <ul>
            <li>那些事情<br>企业不能做？</li>
            <li>我能享受<br>哪些专属服务</li>
            <li>我要了解<br>我的办事进度</li>
            <li>我有话要<br>对有关部门说</li>
        </ul>
    </div>
    <div class="block3">
        <img src="/images/qy-block3.png" alt="">
        <ul>
            <li>补正资料</li>
            <li>获取批文</li>
            <li>下载专区</li>
            <li>我要咨询</li>
            <li>我要投诉</li>
            <li>我要评价</li>
        </ul>
    </div>
    <footer>
        <p>版权所有：广州开发区推进政府职能转变和深化行政审批制度改革试点工作领导小组办公室<br>技术支持：广州开发区大数据管理中心   领航动力信息系统有限公司</p>
    </footer>
</body>
</html>