<% include head.html %>
<link rel="stylesheet" href="css/systems.css">
            <!-- <div class="col-md-2">
              <ul class="nav nav-pills nav-stacked" id="systems-nav">
                <li role="presentation" class="active"><a href="#" data-url="/aqjg">安监</a></li>
                <li role="presentation"><a href="#" data-url="/ldjg">劳监</a></li>
                <li role="presentation"><a href="#" data-url="/hbjg">环保</a></li>
                <li role="presentation"><a href="#" data-url="/syjg">药监</a></li>
                <li role="presentation" class="active"><a href="#" data-url="/sp"><span class="glyphicon glyphicon-briefcase"></span> 工商</a></li>
                <li role="presentation"><a href="#" data-url="/sp"><span class="glyphicon glyphicon-ok"></span> 审批</a></li>
                <li role="presentation"><a href="#" data-url="/jg"><span class="glyphicon glyphicon-eye-open"></span> 监管</a></li>
                <li role="presentation">
                    <a href="#" data-url="/sf"><span class="glyphicon glyphicon-tint"></span> 水费</a></li>
                <li role="presentation"><a href="#" data-url="/df"><span class="glyphicon glyphicon-flash"></span> 电费</a></li>
                <li role="presentation"><a href="#" data-url="/df"><span class="glyphicon glyphicon-yen"></span> 税费</a></li>
              </ul>
            </div> -->
<div class="content main" data-name="sf">
  <div class="thead-container">
    <table class="thead" cellspacing="0" cellpadding="0">
      <tr>
          <td style="width:50px">序号</td>
      <% for (items in tableNames) {
          var item = tableNames[items];
      %>
              <td><%=item%></td>
      <%}%>
      </tr>
    </table>
  </div>
  
  <div class="table-container">
    <table class="tbody" cellspacing="0" cellpadding="0">
          <%for (tableData in table) {%>
          <tr>
              <td style="width:50px"><%=Number(tableData)+1%></td>
          <% for (items in tableNames) {
              var item = table[tableData][items];
          %>
              <td><%=item%></td>
          <%}%>
          </tr>
          <%}%>
    </table>
    <img src="/images/loading.gif" alt="loading" style="width: 20px;margin: 10px auto;display: block;">
  </div>
</div>
<script src="js/systems.js"></script>
<% include foot.html %>