
<style>
    #tableNames li{
        cursor: pointer;
        color: white;
        float: left;
        list-style: none;
        display: block;
        background-color: rgb(62,166,243);
        padding: 10px 15px;
        /* margin-left: 1px; */
        border-top-left-radius: 6px;
        border: 1px solid rgb(56,156,249);
        border-top-right-radius: 6px;
        font-size: 14px;
    }
    #tableNames li.active {
        background-color: rgb(30,100,200);
        cursor: default;
    }
    #tableNames {
        overflow: hidden;
        padding: 0;
        margin-bottom: 0;
        border-bottom:1px solid rgb(193,193,193);
    }
    .xxtable {
        display: none;
    }
    .xxtable td {
        border-right: 1px solid rgb(193,193,193);
        border-bottom:1px solid rgb(193,193,193);
    }
    .xxtable td {
        word-wrap: break-word;
        word-break:break-all;
        width: 700px;
        font-size: 13px;
        padding: 8px 10px;
        background-color: rgb(227,245,255);
    }
    .ytable td {
        width: 300px;
    }
    tbody {
        max-height: 516px;
    }
    .xxtable td:first-child {
        border-left:1px solid rgb(193,193,193);
        width:300px;
        background-color: rgb(200,233,255);
    }
    .ytable td:first-child {
        background-color: rgb(227,245,255);
    }
    .ytable thead td {
        background-color: rgb(200,233,255)!important;
    }
    .xxtable.active {
        display: block;
    }
    thead,tbody {
        display: block;
        overflow-x: hidden;
        overflow-y:scroll;
    }
    .ttable .ttable-head td {
        background-color: rgb(200,233,255);
    }
    .ttable .ttable-head td:first-child {
        border-left:1px solid rgb(193,193,193);
    }
    .ttable tr td:first-child, .ttable .ttable-head td  {
        border-left:none;
    }
</style>
<%index = 0%>
<ul id="tableNames">
    <li class="<%=index?'':'active'%>" data-id="<%=index++%>">基本信息</li>
    <li class="<%=index?'':'active'%>" data-id="<%=index++%>">股东信息</li>
    <li class="<%=index?'':'active'%>" data-id="<%=index++%>">组织结构</li>
    <li class="<%=index?'':'active'%>" data-id="<%=index++%>">用水用电</li>
    <li class="<%=index?'':'active'%>" data-id="<%=index++%>">特定属性</li>
    <%
    index = 0;
    %>
</ul>
    <table class="xxtable <%=index?'':'active'%>" id="table_<%=index++%>" cellspacing="0" cellpadding="0">
        <% for (item1 in data['基本信息']) {%>
            <tr>
                <td><%=item1%></td>
                <td><%=data['基本信息'][item1]%></td>
            </tr>
        <%}%>
    </table>
    <table class="xxtable ytable <%=index?'':'active'%>" id="table_<%=index++%>" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <%for (item in data['股东信息'][0]){%>
                <td><%=item%></td>
            <%}%>
        </tr>
    </thead>
    <tbody>
        <% for (item1 in data['股东信息']) {%>
            <tr>
                <% for (item in data['股东信息'][item1]) {%>
                    <td><%=data['股东信息'][item1][item]%></td>
                <%}%>
            </tr>
        <%}%>
    </tbody> 
    </table>
    <table class="xxtable ytable <%=index?'':'active'%>" id="table_<%=index++%>" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <%for (item in data['组织结构'][0]){%>
                    <td><%=item%></td>
                <%}%>
            </tr>
        </thead>
        <tbody>
            <% for (item1 in data['组织结构']) {%>
                <tr>
                    <% for (item in data['组织结构'][item1]) {%>
                        <td><%=data['组织结构'][item1][item]%></td>
                    <%}%>
                </tr>
            <%}%>
        </tbody>
    </table>
    <table class="xxtable ytable <%=index?'':'active'%>" id="table_<%=index++%>" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <%for (item in data['用水用电'][0]){%>
                    <td><%=item%></td>
                <%}%>
            </tr>
        </thead>
        <tbody>
            <% for (item1 in data['用水用电']) {%>
                <tr>
                    <% for (item in data['用水用电'][item1]) {%>
                        <td><%=data['用水用电'][item1][item]%></td>
                    <%}%>
                </tr>
            <%}%>
        </tbody>
    </table>
    <table class="xxtable ytable ttable <%=index?'':'active'%>" id="table_<%=index%>" cellspacing="0" cellpadding="0">
        <tr class="ttable-head">
            <td rowspan="<%=data['项目环评'].length+1%>">项目环评</td>
            <td>项目名称</td>
            <td>地表水等级</td>
            <td>地下水等级</td>
            <td>海水等级</td>
            <td>环境空气等级</td>
            <td>建设前生物量</td>
            <td>建设后生物量</td>
            <td>生物治理</td>
            <td>施工期废水</td>
            <td>土壤等级</td>
            <td>噪音等级</td>
        </tr>
        <%for (item of data['项目环评']){%>
        <tr>
             <%for (item1 of item){%>
                <td><%=item1%></td>
             <%}%>
        </tr>
        <%}%>
    </table>
    <table class="xxtable ytable ttable <%=index?'':'active'%>" id="table_<%=index%>" cellspacing="0" cellpadding="0">
        <tr class="ttable-head">
            <td rowspan="2">用工信息</td>
            <td>劳资负责人联系电话</td>
            <td>社保证号</td>
            <td>人事专员</td>
            <td>从业人数（不含劳务人员）</td>
            <td>本市户籍职工人数</td>
            <td>非本市省内职工人数</td>
            <td>外国籍从业人数</td>
            <td>上月工资总额（元）</td>
            <td>上月最低工资（元）</td>
            <td>非全日制用工最低时薪</td>
            <td>上月人均工资（元）</td>
            <td>上月支付工资人数</td>

        </tr>
        <%for (item of data['用工信息']){%>
        <tr>
             <%for (item1 of item){%>
                <td><%=item1%></td>
             <%}%>
        </tr>
        <%}%>
    </table>
<!--     <table class="xxtable ytable ttable <%=index?'':'active'%>" id="table_<%=index%>" cellspacing="0" cellpadding="0">
        <tr class="ttable-head">
            <td rowspan="2">a</td>
             <td>huan1</td>
             <td>huan2</td>
             <td>huan3</td>
        </tr>
        <tr>
             <td>huan1_</td>
             <td>huan2_</td>
             <td>huan3_</td>
        </tr>
    </table> -->
<!--     <table class="xxtable ytable ttable <%=index?'':'active'%>" id="table_<%=index%>" cellspacing="0" cellpadding="0">
        <tr class="ttable-head">
            <td rowspan="2">t</td>
             <td>huan1</td>
             <td>huan2</td>
             <td>huan3</td>
        </tr>
        <tr>
             <td>huan1_</td>
             <td>huan2_</td>
             <td>huan3_</td>
        </tr>
    </table> -->
