
<style>
    #tableNames li{
        cursor: pointer;
        color: white;
        float: left;
        list-style: none;
        display: block;
        background-color: rgb(62,166,243);
        padding: 10px 15px;
        /* margin-left: 1px; */
        border-top-left-radius: 6px;
        border: 1px solid rgb(56,156,249);
        border-top-right-radius: 6px;
        font-size: 14px;
    }
    #tableNames li.active {
        background-color: rgb(30,100,200);
        cursor: default;
    }
    #tableNames {
        overflow: hidden;
        padding: 0;
        margin-bottom: 0;
        border-bottom:1px solid rgb(193,193,193);
    }
    .xxtable {
        display: none;
        table-layout: fixed;
    }
    .xxtable td {
        border-right: 1px solid rgb(193,193,193);
        border-bottom:1px solid rgb(193,193,193);
    }
    .xxtable td {
        word-wrap: break-word;
        word-break:break-all;
        width: 700px;
        font-size: 13px;
        padding: 8px 10px;
        background-color: rgb(227,245,255);
    }
    .ytable td {
        width: 300px;
    }
    tbody {
        max-height: 516px;
        table-layout: fixed;
    }
    .xxtable td:first-child {
        border-left:1px solid rgb(193,193,193);
        width:300px;
        background-color: rgb(200,233,255);
    }
    .ytable td:first-child {
        background-color: rgb(227,245,255);
    }
    .ytable thead td {
        background-color: rgb(200,233,255)!important;
    }
    .xxtable.active {
        display: block;
    }
    thead,tbody {
        display: block;
        overflow-x: hidden;
        overflow-y:scroll;
    }
    .ttable .ttable-head td {
        background-color: rgb(200,233,255);
    }
    .ttable .ttable-head td:first-child {
        border-left:1px solid rgb(193,193,193);
    }
    .ttable tr td:first-child, .ttable .ttable-head td  {
        border-left:none;
    }
</style>
<%index = 0%>
<ul id="tableNames">
    <li class="<%=index?'':'active'%>" data-id="<%=index++%>">审批信息</li>
    <li class="<%=index?'':'active'%>" data-id="<%=index++%>">许可证台账</li>
    <%
    index = 0;
    %>
</ul>
    <table class="xxtable ytable <%=index?'':'active'%>" id="table_<%=index++%>" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
               <td>事项名称</td>
               <td>联系人</td>
               <td>联系方式</td>
               <td>联系人地址</td>
               <td>联系人手机号</td>
               <td>受理人</td>
               <td>受理日期</td>
               <td>受理部门</td>
               <td>批准人</td>
               <td>批准日期</td>
            </tr>
        </thead>
        <tbody>
            <% for (item1 of data['监管信息']) {%>
                <tr>
                    <% for (item of item1) {%>
                        <td><%=item%></td>
                    <%}%>
                </tr>
            <%}%>
        </tbody>
    </table>
 