html {
    background-color: white;
}
.content-container > div{
    height: 285px;
    margin-right: -27px;
    margin-top: 9px;
    overflow-x: hidden;
    overflow-y: auto;
}
.com-titles {
    height: auto;
}
.block {
    margin: 0 auto;
    width: 1080px;
}
.title-p p {
    position: relative;
    width: 114px;
    background: #21619b;
    height: 42px;
    color: white;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.title-p p:after {
    content: ' ';
    clear: both;
    display: block;
    border-bottom: 1px dashed white;
    float: left;
    width: 934px;
    position: absolute;
    height: 21px;
    top: -3px;
    left: 144px;
}
.com-titles {
    padding: 30px;
    overflow: hidden;
    margin-bottom: 20px;
}
.com-title:first-child {
    border-left: 4px solid white;
}
.com-title {
    width: 472px;
    font-weight: bolder;
    text-align: center;
    float: left;
    height: 20px;
    line-height: 20px;
    color: white;
    font-size: 20px;
    border-right: 4px solid white;
}
/*footer {
    position: relative;
    margin-top: 20px;
}*/
h1 {
    text-align:center;
    color:#05367c;
    font-size: 22px;
    margin-bottom: 20px;
}
.status {
    height: 20px;
    margin: 25px auto 0;
    width: 150px;
}
.status li:first-child {
    margin-left: 0;
}
.status li {
    float: left;
    color:#c9caca;
    margin-left: 25px;
}
.status li.active {
    color:#8fc31f;
    font-size: 17px;
}
.main {
    overflow: hidden;
}
.main > div {
    border: 1px dashed rgba(255,255,255,0.4);
    padding: 2px;
    width: 254px;
    border-radius: 7px;
    float: left;
    margin-left: 13px;
}
.main > div:first-child {
    margin-left: 0;
}
.com-item {
    border-radius: 7px;
    padding: 10px;
    height: 354px;
    position: relative;
    overflow: hidden;
    background-color: rgba(255,255,255,0.4);
}
.com-item .title {
    background-size: 100% auto;
    text-align: center;
    font-size: 18px;
    line-height: 38px;
    height: 38px;
}
.content-item {
    margin-bottom: 10px;
}
.content-item a {
    font-size: 14px;
    color: black;
}
.content-item p {
    font-size: 14px;
    width: 197px;
    border-left: 1px #0c8ac2 solid;
    margin-left: 9px;
    padding-left: 12px;
}
.content-item p:hover {
    color:blue;
}
.content-item:before {
    content: ' ';
    clear: both;
    border-left: 1px #0c8ac2 solid;
    border-bottom: 1px #0c8ac2 solid;
    display: block;
    float: left;
    width: 10px;
    position: relative;
    height: 21px;
    top: -11px;
    left: 9px;
}
.content-second {
    padding-bottom: 10px;
    border-left: 1px #0c8ac2 solid;
    padding-left: 10px;
    position: relative;
}
.content-first:before,.content-second:before,.first-title:before {
    content: ' ';
    clear: both;
    border-bottom: 1px #0c8ac2 solid;
    border-left: 1px #0c8ac2 solid;
    display: block;
    float: left;
    width: 25px;
    position: absolute;
    height: 21px;
    top: -11px;
    left: -1px;
}
.hide {
    display: none;
}
.content-second:last-child:before {
    left: 0px;
}
.content-first:last-child {
    border-left: 1px solid rgba(0,0,0,0);
}
.content-second:last-child {
    border: none;
}
.content-second:before {
    position: absolute;
    width: 10px;
}
.first-title:before {
    left: -14px;
    border-bottom: none;
    top: 10px;
    height: 40px;
}
p.noneBorder:before,p.noItem:before {
    border:none;
}
.first-title {
    position: relative;
    left: 14px;
    cursor: pointer;
    height: 40px;
    width: 182px;
}
.content-first {
    position: relative;
    border-left: 1px #0c8ac2 solid;
    width: 214px;
    padding-left: 12px;
    margin: 0 auto;
}
.content-first p {
    font-size: 14px;
}
.content-first p span {
    border: 1px #0c8ac2 solid;
    padding: 0px 5px;
}
.content-first a {
    font-size: 14px;
    color: black;
}
.content-item {
    cursor: default;
}
.content-item:last-child p {
    border-left: none;
}
.content-item:nth-child(2):before {
    height: 19px;
    top: -9px;
}
.items {
    color: blue;
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
