* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    text-decoration: none;
    list-style: none;
}
.nav a {
    color: #e2e2e2;
}
.panel-body .nav a {
    color: #337ab7;
}
html {
    height: 100%;
    width: 100%;
    background: white;
}
body {
    min-width: 1280px;
    min-height: 933px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(/images/home-bg.png);
    background-size: 100% 100%;
    font: 12px/22px verdana,Arial,Helvetica,'宋体',sans-serif;
    color: #333;
    font-size: 14px;
    margin:0;
    background-color:#fdfdfd;
    font-family: "Microsoft Yahei";
}
.footer p {
    color: white;
    text-align: center;
    font-size: 11px;
    margin: 0;
    padding-top: 21px;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 2.4%;
}


.modal-fog {
    background-color: #000;
    opacity:0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1031;
    overflow: auto;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.modal-head {
    margin: 40px auto 40px;
    text-align: center;
}
.loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    margin: auto;
    z-index: 1032;
    width: 50px;
    height: 50px;
    position: absolute;
    overflow: auto;
}

.loading img {
    /*position: absolute;*/
    height: 50px;
    width: 50px;
}
header {
    margin-top: 60px;
}
.content {
    width: 1084px;
    margin:0 auto;
}
.logo img {
        width: 772px;
}
.nav {
    font-size: 16px;
    margin-top: 27px;
    margin-bottom: 30px;
    height: 45px;
    border: 1px white solid;
    border-radius: 8px;
    background-color: #1e68a8;
}
.nav li {
    text-decoration: none;
    list-style: none;
    color: white;
    float: left;
    line-height: 45px;
    margin-left: 35px;
}
.nav li:hover {
    opacity:0.8;
}
.gohome a {
    color: #6e99d7;
    font-size: 18px;
}
.gohome {
    float: right;
    position: relative;
    top: 27px;
    right: 0px;
}
.gohome img {
    width: 26px;
    height: 26px;
    position: relative;
    top: 5px;
    left: -5px;
}
#pagination {
    width: auto;
    height: 72px;
    float: right;
    padding: 21px 16px;
}
#pagination a , #pagination span.active, #pagination span, #pagination input{
    border-radius: 8px;
    padding: 6px 10px;
    border: 1px solid #eaeaea;
    margin-left: 11px;
    color: #6094bf;
    box-sizing: border-box;
}
#pagination input {
    width: 50px;
}
#pagination a:hover,
#pagination span.active {
    background-color:#6094bf;
    color: white;
    border:1px solid white;
}
#pagination span {
    border:none;
}
#total_page {
    top: 0;
    position: absolute;
    overflow: hidden;
    transform: scale(0.6);
    left: 0;
    right: 0;
    bottom: 0;
    width: 1280px;
    height: 933px;
    margin: 0 auto;
}