* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    text-decoration: none;
    list-style: none;
}
.nav a {
    color: #e2e2e2;
}
.panel-body .nav a {
    color: #337ab7;
}
html {
    height: 100%;
    width: 100%;
    min-width: 800px;
    min-height: 600px;
    background: white;
}
body {
    height: 100%;
    width: 100%;
    min-width: 800px;
    min-height: 600px;
    position: absolute;
    background-image: url(../images/bg2.jpg);
    background-size: 100% 100%;
    font: 12px/22px verdana,Arial,Helvetica,'宋体',sans-serif;
    color: #333;
    font-size: 14px;
    margin:0;
    background-color:#fdfdfd;
    font-family:"Helvetica Neue",Helvetica,Microsoft Yahei;
}
.footer p {
    color: #3c638f;
    text-align: center;
    font-size: 11px;
    margin: 0;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 5px;
}


.modal-fog {
    background-color: #000;
    opacity:0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1031;
    overflow: auto;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.modal-head {
    margin: 40px auto 40px;
    text-align: center;
}
.loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    margin: auto;
    z-index: 1032;
    width: 50px;
    height: 50px;
    position: absolute;
    overflow: auto;
}

.loading img {
    /*position: absolute;*/
    height: 50px;
    width: 50px;
}
header {
    padding-top:30px;
}
.content {
    width: 750px;
    margin:0 auto;
}
.logo img {
    width: 355px;
}
.nav {
    font-size: 15px;
    margin-top: 15px;
    height: 30px;
    border: 1px white solid;
    border-radius: 20px;
    background-color: #0884c7;
}
.nav li {
    text-decoration: none;
    list-style: none;
    color: white;
    float: left;
    line-height: 30px;
    margin-left: 20px; 
}
.nav li:hover {
    opacity:0.8;
}
.gohome a {
    color: #19597c;
    font-size: 13px;
}
.gohome {
    float: right;
    position: relative;
    top: 12px;
    right: 20px;
}
.gohome img {
    width: 16px;
    vertical-align: text-bottom;
}