html {
    background-color: white;
}
body {
    background-image:url(/images/coms-bg.png);
    background-repeat: repeat-x;
    height: auto;
    background-size: inherit;
    min-width: 1000px;
}
.block {
    margin: 0 auto;
    width: 1084px;
    padding: 20px 0;
}
.block2 {
    border: 1px dashed white;
    border-radius:8px;
    padding:0;
}
.com-title {
    width: 343px;
    background-color: #5eb3dd;
    border-radius: 18px;
    margin: 0 auto;
    height: 39px;
    text-align: center;
    line-height: 39px;
    color: white;
    font-size: 29px;
    text-shadow: 1px 1px 2px black;
}
.search-container {
    margin-top: -30px;
    margin-bottom: 20px;
    height: 20px;
}
.input {
    float: left;
    width: 260px;
    margin-right: 10px;
    line-height: 44px;
    height: 44px;
    border-radius: 10px;
    background: white;
    padding: 3px 9px;
    position: relative;
    box-sizing: border-box;
}
.input input {
    width: 210px;
    line-height: 44px;
    height: 44px;
    border: none;
    /* border-radius: 10px; */
    padding: 0 5px;
    outline: none;
    top: -3px;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
}
.input img {
    border-right: 1px #cecece solid;
    padding-right: 4px;
    height: 16px;
}
td:nth-child(1) {
    width: 20px;
}
td:nth-child(2) {
    width: 53px;
}
td:nth-child(3) {
    width: 90px;
}
td:nth-child(4) {
    width: 180px;
}
td:nth-child(5) {
    width: 32px;
    text-align: center;
}
td:nth-child(6) {
    width: 25px;
}
table {
    width: 100%;
    text-align: left;
    font-size: 12px;
    border-collapse:collapse;
    width: 97%;
    margin: 0 auto;
    table-layout: fixed;
}
tr {
   cursor: pointer; 
}
.tbody tr:hover {
    background: #f2fefc;
}
.table-c {
    margin-top: 10px;
    border: 1px #b8e7f6 solid;
    border-radius: 13px;
    padding: 20px 15px;
    box-sizing: border-box;
    height: 585px;
    overflow: none;
    background: white;
}
table.thead {
    font-weight: bold;
    color: white;
    height: 35px;
    font-size: 13px;
}
table.tbody {
    margin-top: 5px;
    color: black;
}
table.tbody tr {
    border-bottom: 1px #898989 solid;
    height: 45px;
}
table td {
    word-wrap:break-word;
}
div.thead-container {
    background: url(/images/gr.png);
    background-repeat: repeat-y;
    background-size: 100%;
    border-radius: 100px;
}
div.table-container {
    height: 458px;
    overflow: scroll;
    overflow-x: hidden;
}
footer {
    bottom: 1%;
}
.const {
    width: 100%;
    margin-top: 35px;
    overflow: hidden;
    position: relative;
    left: 2px;
}
.const .const-item {
    position: relative;
    float: left;
    width: 240px;
    height: 83px;
    margin-left: 29px;
    border-right: 1px solid white;
}
.const-item img {
    width: 92px;
    float: left;
}
.const-text p {
    color: white;
    font-size: 18px;
    margin-top: 27px;
    width: 135px;
    float: right;
    text-align: left;
}
.block2-text {
    overflow: hidden;
    padding: 30px;
}
.block2-text p:first-child {
    float: left;
}
.block2-text p {
    float: right;
}
.search-result {
    border: 1px solid #ccc;
    background: white;
    position: absolute;
    right: 8px;
    top: 44px;
    z-index: 100;
    box-shadow: 2px 2px 2px;
    width: 220px;
}
.search-result li {
    color: #000;
    font-size: 17px;
    line-height: 22px;
    padding: 0 8px;
}
.search-result li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
#comStatusSelect {
    background-color: rgba(255,255,255,0);
    border: 0;
    outline: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
#comStatusSelect option {
    color: black;
}
.search-result li span {
    color:red;
}
.hide {
    display: none;
}