.main img{
    width: 366px;
    position: relative;
    margin: 20px auto;
    display: block;
    left: -3px;
}
.main {
    position: relative;
}

.main p {
    color: #036eb7;
    top: 195px;
    left: 329px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    text-shadow: white 0px 1px 0px, white 0px -1px 0px, white -1px 0px 0px, white 1px 0px 0px;
}
.main-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.main-list li:hover {
    font-size: 20px;
}
.main-list li {
    position: absolute;
    font-size: 19px;
    font-weight: bold;
}
.main-list1 {
    left: 193px;
    top: 48px;
    color: #145a6f;
}
.main-list2 {
    left: 462px;
    top: 11px;
    color: #8bc31d;
}
.main-list3 {
    left: 562px;
    top: 129px;
    color: #f29800;
}
.main-list4 {
    left: 527px;
    top: 281px;
    color: #19aabf;
}
.main-list5 {
    left: 266px;
    top: 358px;
    color: #9aa53c;
}
.main-list6 {
    left: 145px;
    top: 222px;
    color: #538bad;
}