.main img{
    width: 562px;
    position: relative;
    margin: -16px auto 54px;
    display: block;
    z-index: 100;
}
.main {
    position: relative;
}

.main p {
    color: #036eb7;
    top: 310px;
    left: 483px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    z-index: 101;
    text-shadow: white 0px 1px 0px, white 0px -1px 0px, white -1px 0px 0px, white 1px 0px 0px;
}
.main-list {
    margin-left: 117px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.main-list li {
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    z-index: 102;
}
.main-list1 {
    left: 146px;
    top: 79px;
    color: #145a6f;
}
.main-list2 {
    left: 567px;
    top: 29px;
    color: #8bc31d;
}
.main-list3 {
    left: 714px;
    top: 204px;
    color: #f29800;
}
.main-list4 {
    left: 669px;
    top: 437px;
    color: #19aabf;
}
.main-list5 {
    left: 263px;
    top: 553px;
    color: #9aa53c;
}
.main-list6 {
    left: 78px;
    top: 354px;
    color: #538bad;
}