.left {
    float: left;
    width: 790px;
    height: 589px;
    position: relative;
}
li {
    color: black;
}
.right {
    float: right;
    width: 265px;
    margin-top: 75px;
    position: relative;
    right: 3px;
}
.main > img,.left img, .right img {
    position: absolute;
}
.right img {
    width:250px;
}
.left img {
}
.right-item {
    background: url(/images/c0.png);
    width: 111px;
    margin-bottom: 12px;
    margin-right: 11px;
    background-repeat: no-repeat;
    float: left;
    height: 109px;
    box-sizing: border-box;
    z-index: 10;
    padding: 13px;
    position: relative;
}
.right-item:hover img.circle {
    width: 100%;
    transition: width .5s;
}
.right img.circle {
    width: 85px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    right: 0;
    bottom: 0;
    margin:auto;    
    z-index: -1;
}
.right-item a {
    text-decoration: none;
}
.right-item p {
    height: 100%;
    border-radius: 24px;
    text-align: center;
    font-size: 15.2px;
    line-height: 20px;
    padding: 17px 2px 0px 3px;
    box-sizing: border-box;
    color: white;
}
.left-title {
    position: absolute;
    color: white;
    font-size: 15px;
    text-align: center;
}
.left-title1 {
    width: 185px;
    top: 0px;
    left: 444px;
    line-height: 36px;
}
.left-title2 {
    width: 151px;
    bottom: 2px;
    left: 460px;
    line-height: 40px;
}
.left-text {
    position: absolute;
    font-size: 16px;
    line-height: 31px;
}
.left-text li:hover {
    font-size: 17px;
}
.left-text1 {
    left: 268px;
    top: 97px;
}
.left-text2 {
    left: 455px;
    top: 97px;
}
.left-text3 {
    left: 636px;
    top: 97px;
}
.left-text4 {
    left: 268px;
    top: 361px;
}
.left-text5 {
    left: 455px;
    top: 361px;
}
.left-text6 {
    left: 636px;
    top: 361px;
}
.left-text a {
    color: black;
}
.left-item {
    padding: 19px 88px 17px 18px;
    box-sizing: border-box;
    float: left;
    width: 179px;
    height: 122px;
    position: relative;
    top: 208px;
    left: 25px;
    font-size: 18px;
    line-height: 23px;
}
.left-item p {
    height: 100%;
    border-radius: 35px;
    color: #036eb7;
    text-align: center;
    padding: 23px 0;
    box-sizing: border-box;
}
.main {
    overflow: hidden;
    margin-bottom:34px;
}