html, body {
    min-height: 750px;
}
.left {
    float: left;
    width: 680px;
    margin-top: 20px;
    position: relative;
    height: 474px;
    margin-left: 30px;
    border-right: 1px white dashed;
}
li {
    color: white;
}
.right {
    float: right;
    width: 210px;
    margin-top: 56px;
    position: relative;
    margin-right: 30px;
}
.left img, .right img {
    position: absolute;
}
.right img {
    width:200px;
}
.left img {
    width: 635px;
}
.right-item {
    width: 96px;
    margin-bottom: 10px;
    margin-right: 9px;
    float: left;
    height: 95px;
    box-sizing: border-box;
    z-index: 10;
    padding: 18px;
    position: relative;
}
.right-item a {
    text-decoration: none;
}
.right-item p {
    height: 100%;
    border-radius: 24px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    padding: 14px 2px 0px 3px;
    box-sizing: border-box;
    color: white;
}
.left-title {
    position: absolute;
    color: white;
    font-size: 14px;
    text-align: center;
}
.left-title1 {
    width: 179px;
    top: 0px;
    left: 218px;
    line-height: 43px;
}
.left-title2 {
    width: 126px;
    bottom: 0px;
    left: 244px;
    line-height: 43px;
}
.left-text {
    position: absolute;
    font-size: 12px;
    line-height: 24px;
}
.left-text1 {
    left: 221px;
    top: 83px;
}
.left-text2 {
    left: 366px;
    top: 107px;
}
.left-text3 {
    left: 504px;
    top: 106px;
}
.left-text4 {
    left: 221px;
    top: 303px;
}
.left-text5 {
    left: 366px;
    top: 302px;
}
.left-text6 {
    left: 504px;
    top: 301px;
}
.left-text a {
    color: black;
}
.left-item {
    padding: 13px 54px 15px 14px;
    box-sizing: border-box;
    float: left;
    width: 142px;
    height: 102px;
    position: relative;
    top: 175px;
    left: 22px;
    font-size: 15px;
    line-height: 15px;
}
.left-item p {
    height: 100%;
    border-radius: 35px;
    color: #036eb7;
    text-align: center;
    padding: 23px 0;
    box-sizing: border-box;
}