html {
    height: 100%;
    width: 100%;
    min-width: 800px;
    min-height: 600px;
    background: white;
}
body {
    height: 100%;
    width: 100%;
    min-width: 1100px;
    min-height: 935px;
    position: absolute;
    background-image: url(../images/bg1.jpg);
    background-size: 100% 100%;
    font: 12px/22px verdana,Arial,Helvetica,'宋体',sans-serif;
    color: #333;
    font-size: 14px;
    margin:0;
    background-color:#fdfdfd;
    font-family: "Microsoft Yahei";
}
.footer p {
    color: #3c638f;
    text-align: center;
    font-size: 11px;
    line-height: 19px;
    margin: 0;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 13px;
}
#main {
    color:white;
    z-index: 1;
    height: 367px;
    margin:137px auto;
    width: 1032px;
}
.logo {
    width: 1032px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.logo img {
    width: 100%;
}
.login {
    width: 854px;
    margin:0 auto;
    height: 377px;
    padding: 50px;
    box-sizing: border-box;
    background: url(/images/login-bg.png);
    background-size: cover;
}
.button {
    background: rgb(12, 73, 120);
    border-radius: 25px;
    height: 30px;
    font-size: 14px;
    width: 95px;
    color: white;
    border: 0;
    cursor: pointer;
    box-shadow: 1px 2px 1px black;
}
.border-wrap{
    width: 100%;
    font-size: 24px;
    height: 39px;
    margin-bottom: 21px;
}
.border-wrap label {
    display: inline-block;
    margin-left: 57px;
    line-height: 30px;
    font-size: 21px;
}
.border-wrap input {
    float: right;
    text-align: left;
    margin-right: 62px;
    border: 0;
    border-radius: 9px;
    height: 47px;
    font-size: 16px;
    line-height: 47px;
    width: 242px;
    margin-top: -8px;
    padding: 0 12px;
    box-sizing: border-box;
}
.button:hover {
    opacity:0.7;
}
.left {
    width: 60%;
    height: 100%;
    float: left;
    border-right: .5px white solid;
}
.left h2 {
    font-size: 25px;
}
.right {
    width: 39%;
    height: 100%;
    float: right;
}
.right h3 {
    font-size: 18px;
    text-align: center;
    margin:0;
}
.right p {
    font-size: 14px;
    padding: 37px 10px 11px 36px;
    margin: 0;
}