html {
    height: 100%;
    width: 100%;
    min-width: 800px;
    min-height: 600px;
    background: white;
}
body {
    height: 100%;
    width: 100%;
    min-width: 800px;
    min-height: 600px;
    position: absolute;
    background-image: url(../images/bg1.png);
    background-size: 100% 100%;
    font: 12px/22px verdana,Arial,Helvetica,'宋体',sans-serif;
    color: #333;
    font-size: 14px;
    margin:0;
    background-color:#fdfdfd;
    font-family:"Helvetica Neue",Helvetica,Microsoft Yahei;
}
.footer p {
    color: #3c638f;
    text-align: center;
    font-size: 11px;
    margin: 0;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 5px;
}
#main {
    color:white;
    z-index: 1;
    height: 367px;
    margin:8% auto;
    width: 640px;
}
.logo {
    width: 580px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.logo img {
    width: 100%;
}
.login {
    width: 100%;
    height: 265px;
    border-radius: 20px;
    box-shadow:2px 2px 3px black;
    background-color: rgba(0,156,238, .6);
    padding: 35px;
    box-sizing: border-box;
}
.button {
    background: rgb(12, 73, 120);
    border-radius: 10px;
    height: 25px;
    width: 77px;
    color: white;
    border: 0;
    cursor: pointer;
    box-shadow: 1px 2px 1px black;
}
.border-wrap{
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px;
}
.border-wrap label {
    display: inline-block;
    margin-left: 57px;
    line-height: 30px;
}
.border-wrap input {
    float: right;
    text-align: left;
    margin-right: 48px;
    border: 0;
    border-radius: 9px;
    line-height: 30px;
    width: 180px;
    padding: 0 12px;
    box-sizing: border-box;
}
.button:hover {
    opacity:0.7;
}
.left {
    width: 60%;
    height: 100%;
    float: left;
    border-right: .5px white solid;
}
.right {
    width: 39%;
    height: 100%;
    float: right;
}
.right h3 {
    font-size: 14.5px;
    text-align: center;
    margin:0;
}
.right p {
    font-size: 11px;
    padding: 13px 10px 2px 36px;
    margin: 0;
}