html, body {
    width: 100%;
    overflow-x: hidden;
    min-width: 1100px;
    margin:0;
    padding: 0;
    font-family: "Microsoft Yahei";
}
html{
    overflow: auto;
}
.block {
    width: 1080px;
    margin:0 auto;
}
.block1-bg {
    height: 434px;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: url(/images/qy-bg1.jpg);
}
.block1 {
    height: 100%;
}
.left, .right {
    color: white;
    text-align: center;
    width: 50%;
    float: left;
    height: 100%;
    position: relative;
}
.left {
    left: 5px;
}
.right {
    right: 5px;
}
.block1 h1 {
    padding: 0;
    font-size: 38px;
    line-height: 48px;
    font-weight: bolder;
}
.left h1 {
    margin: 54px auto 19px;
}
.right h1 {
    margin: 79px auto 16px;
}
.block1-item h2{
    font-size: 24px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
}
.block2 {
    height: 200px;
    border: 1px solid #f4f2f2;
    background-image: url(/images/qy-block2.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.block2 ul {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}
.block2 ul li {
    font-size: 23px;
    line-height: 30px;
    color: white;
    text-align: right;
    float: left;
    width: 266px;
    display: block;
    height: 100%;
    box-sizing: border-box;
    padding: 32px 13px;
}
footer {
    height: 70px;
    background: #4e4d4a;
    width: 100%;
}
footer p {
    padding: 17px 0px;
    margin: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 18px;
}
.block3 {
    background-repeat: no-repeat;
    width: 1087px;
    height: 196px;
    margin: 0 auto;
    background-image: url(/images/qy-block3-bg.png);
}
.block3 img {
    display: block;
    padding: 40px 0 12px;
    margin: 0 auto;
}
.block3 ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
    margin-left: 83px;
    width: 933px; 
}
.block2, .block3, footer {
    margin-top: 20px;
}
.block3 ul li {
    display: block;
    float: left;
    margin-left: 105px;
    font-size: 17px;
    line-height: 23px;
    color: #535353;
}
.block3 ul li:first-child {
    margin-left:0;
}




body {
    margin: 0 0 0 0;
    font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}

p {
    margin: 0 0 0 0;
}

.content {
    width: 100%;
}

.uppest-bar {
    color: #f5f3f1;
    font-size: 14px;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #005CA0;

}

.uppest-bar-center {
    width: 1080px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;

}

.time {
    margin-left: 39px;
    display:inline-block;
    float:left;
}

.govern-entrance {
    margin-left: 353px;
    display:inline-block;
    float:left;
}
a {
    color: white;
}
.welcome-words {
    width: 205px;
    text-align: right;
    margin-left: 96px;
    display:inline-block;
    float:left;
}

.big-title-bg {
    width:100%;
    height:54px;
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#8cd0ee), to(rgba(255, 255, 255, 0.5)));
    background:-moz-linear-gradient(top, #8cd0ee, rgba(255, 255, 255, 0.5)); 
    background:gradient(top, #8cd0ee, rgba(255, 255, 255, 0.5)); 
}

.flower {
    float: right;
    width: 500px;
    height: 200px;
    background: url(/qy-image/flower.png);
    background-repeat: no-repeat;
    background-position-y: -35px;
}

.title {
    height: 100px;
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background: url(/qy-image/title.png);
    background-repeat: no-repeat;
}

.upper-bar {
    color: #f5f3f1;
    font-size: 18px;
    width: 100%;
    height: 50px;
    line-height: 35px;
    background-color: #11A3D2;
    margin-top: 54px;
}

.upper-bar-center {
    width: 1080px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.upper-bar-center ul {
    list-style:none;
    padding: 0 0 0 0;
}

.upper-bar-center li {
    width: 118px;
    height: 43px;
    padding-top: 7px;
    float: left;
    text-align: center;
}

.home-logo {
    width: 30px;
    height: 20px;
    background: url(/qy-image/home.png);
    background-repeat: no-repeat;
    float: left;
    margin-top: 7px;
    margin-left: 15px;
    margin-right: 10px;
}

.home-logo-words {
    text-align: initial;
}

.button-vivid {
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(hsla(194, 35%, 53%, 0.9333333333333333)), to(rgba(25, 77, 152, 0.5)));
    background:-moz-linear-gradient(top, hsla(194, 35%, 53%, 0.9333333333333333), rgba(25, 77, 152, 0.5)); 
    background:gradient(top, hsla(194, 35%, 53%, 0.9333333333333333), rgba(25, 77, 152, 0.5)); 
}

.search {
    float: right;
    margin-top: 5px;
}

.search input {
    width: 224px;
    height: 24px;
}
#search-button {
    margin-top: 5px;
    margin-left: 2px;
    width: 30px;
    height: 30px;
    background: url(/qy-image/search.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    background-color: white;
    float: right;
}