table {
    width: 100%;
    text-align: left;
    font-size: 12px;
    border-collapse:collapse;
    width: 97%;
    margin: 0 auto;
    table-layout: fixed;
}
.main {
    margin-top: 10px;
    border: 1px rgb(8, 132, 199) solid;
    border-radius: 13px;
    padding: 10px;
    box-sizing: border-box;
    height: 545px;
    overflow: none;
    background: white;
}
table.thead {
    font-weight: bold;
    color: white;
    height: 34px;
    font-size: 14px;
}
table.tbody {
    margin-top: -1px;
    color: black;
}
table.tbody tr {
    border-bottom: 1px #898989 solid;
    height: 45px;
}
table td {
    word-wrap:break-word;
}
div.thead-container {
    background: url(/images/gr.png);
    background-repeat: repeat-y;
    background-size: 100%;
    border-radius: 100px;
}
div.table-container {
    height: 455px;
    overflow: auto;
}
#comStatusSelect {
    background-color: rgba(255,255,255,0);
    border: 0;
    outline: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
#comStatusSelect option {
    color: black;
}
.com-title {
    width: 247px;
    background-color: #5eb3dd;
    border-radius: 18px;
    margin: -10px auto 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}
.input {
        float: left;
    width: 184px;
    margin-right: 10px;
    line-height: 23px;
    height: 23px;
    border-radius: 10px;
    background: white;
    padding: 3px 9px;
    position: relative;
    box-sizing: border-box;
}
.input input {
    width: 138px;
    line-height: 22px;
    height: 22px;
    border: none;
    /* border-radius: 10px; */
    padding: 0 5px;
    outline: none;
    top: -3px;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
}
.input img {
    border-right: 1px #cecece solid;
    padding-right: 4px;
    height: 16px;
}
#search button {
        height: 24px;
    width: 48px;
    line-height: 24px;
    font-size: 13px;
    border-radius: 6px;
    background: white;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
}
#search {
    position: absolute;
    right: 8%;
    top: 28.8%;
}
/*工商*/
.gs td:nth-child(1) {
    width: 37px;
}
.gs td:nth-child(2) {
    width: 116px;
}
.gs td:nth-child(3) {
    width: 207px;
}
.gs td:nth-child(4) {
    width: 48px;
}
.gs td:nth-child(5) {
    width: 123px;
}
.gs td:nth-child(6) {

}
.gs td:nth-child(7) {
    width: 74px;
}
/*审批*/
.sp td {
    text-align: center;
}
.sp td:nth-child(1) {
    width: 50px;
}
.sp td:nth-child(2) {
    width: 275px;
}
.sp td:nth-child(3) {
    width: 227px;
}
.sp td:nth-child(4) {
    width: 148px;
}
.sp td:nth-child(5) {
    width: 123px;
}
.sp td:nth-child(6) {
    width: 55px;
}
/*电费*/
.df td:nth-child(1) {
    width: 50px;
    text-align: center;
}
.df td:nth-child(2) {
    width: 145px;
    text-align: center;
}
.df td:nth-child(3) {
    width: 227px;
    text-align: center;
}
.df td:nth-child(4) {
    width: 148px;
    text-align: center;
}
.df td:nth-child(5) {
    width: 123px;
    text-align: center;
}
.df td:nth-child(6) {
text-align: center;
    width: 109px;
}
/*水费*/
.sf td:nth-child(1) {
    width: 50px;
    text-align: center;
}
.sf td:nth-child(2) {
    width: 145px;
    text-align: center;
}
.sf td:nth-child(3) {
    width: 227px;
    text-align: center;
}
.sf td:nth-child(4) {
    width: 103px;
    text-align: center;
}
.sf td:nth-child(5) {
    width:  78px;
    text-align: center;
}
.sf td:nth-child(6) {
    width: 258px;
    text-align: center;
}
/*监管*/
.jg td:nth-child(1) {
    width: 53px;
}
.jg td:nth-child(2) {
    width: 82px;
}
.jg td:nth-child(3) {
    width: 204px;
}
.jg td:nth-child(4) {
    width: 103px;
}
.jg td:nth-child(5) {
    width: 108px;
}
.jg td:nth-child(6) {
    width: 64px;
    text-align: center;
}
.jg td:nth-child(7) {
    width: 174px;
    text-align: center;
}

.jg td:nth-child(8) {
    width: 122px;
    text-align: center;
}
.jg td:nth-child(9) {
    width: 64px;
    text-align: center;
}
#pagination {
    padding: 9px 16px;
}
.tbody tr {
    cursor:pointer;
}
.tbody tr:hover {
    background: #f2fefc;
}